In [3]:
#Import a  Library
import pandas as pd #pd acts like a alias.We will access all the pandas functions using this alias followed by a dot(.)

1.Pandas is a open source python library which provides high performance easy to use data structures and data analysis tools.
2.Data wrangling,data cleansing,data merging,data splitting can be done by pandas.
3.To read and write different types of file formats -csv,json,excel,json,txt,mysql,manglob

In [4]:
#To check the version
print(pd.__version__)

0.24.2

In [ ]:
PANDAS DATASTRUCTURES:
    #Pandas datastructres are labelled or provide us value by labelling it.
    1.Series:A Series is a one dimenstional object similar to one dimensional array,list or column in a table.
             It will assign a labelled index to each item in the series.
        
    2.DataFrame

In [5]:
names=["Apple","Mango","Grapes","Orange"]
#How to make a series
fruits=pd.Series(names)
fruits

0     Apple
1     Mango
2    Grapes
3    Orange
dtype: object

In [8]:
fruits1=pd.Series(names,index=['a','b','c','d']) #to label a series ---index parameter is used
fruits1

a     Apple
b     Mango
c    Grapes
d    Orange
dtype: object

In [9]:
type(fruits)

pandas.core.series.Series

In [10]:
type(fruits1)

pandas.core.series.Series

In [12]:
#Dictionary (key-value pair)
d={"Subject":"Science","Marks":98,"Percentage":98} #key of dictionary becomes the index of series
s1=pd.Series(d)
s1

Subject       Science
Marks              98
Percentage         98
dtype: object

In [4]:
D = { "chicago" : 1000,"Newyork": 2000,"Boston":3000,"Austin":4000}

In [5]:
s1 = pd.Series(D)
s1

chicago    1000
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [6]:
s1["chicago"]

1000

In [ ]:
#s1["Noida"]---key error

In [20]:
s1.index #returns indexes in form of array

Index(['chicago', 'Newyork', 'Boston', 'Austin'], dtype='object')

In [21]:
#To change a value of a particular index
s1["chicago"]=1400

In [22]:
s1

chicago    1400
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [23]:
#to add
s1["Delhi"]=1000

In [24]:
s1

chicago    1400
Newyork    2000
Boston     3000
Austin     4000
Delhi      1000
dtype: int64

In [27]:
s1[s1<1500]

chicago     466.666667
Newyork     666.666667
Boston     1000.000000
Austin     1333.333333
Delhi       333.333333
dtype: float64

In [25]:
s1<1500

chicago     True
Newyork    False
Boston     False
Austin     False
Delhi       True
dtype: bool

In [29]:
s1[s1<1500]=700  #series_name[condition]=values
s1

chicago     700
Newyork    2000
Boston     3000
Austin     4000
Delhi       700
dtype: int64

In [26]:
s1.isna() #It is used to check null values

chicago    False
Newyork    False
Boston     False
Austin     False
Delhi      False
dtype: bool