DataFrame is a 2 Dimensional tabular like data structure with heterogenously typed columns.
Two-dimensional size-mutable, potentially heterogeneous tabular data
structure with labeled axes (rows and columns). Arithmetic operations
align on both row and column labels.

In [2]:
import pandas as pd
import numpy as np

random.rand --generates random nos in the range[0,1] with shape (5,4)

In [3]:
df=pd.DataFrame(np.random.rand(5,4),index='A B C D E'.split(),columns="W X Y Z".split())

In [5]:
'A B C D E'.split()#-----returns a list

['A', 'B', 'C', 'D', 'E']

In [4]:
df

          W         X         Y         Z
A  0.173582  0.800557  0.476454  0.847654
B  0.571496  0.340421  0.965160  0.843844
C  0.288317  0.956440  0.373299  0.300939
D  0.966593  0.014683  0.659627  0.398662
E  0.199441  0.212223  0.778793  0.391162

#Some important functions of dataframes

In [6]:
#info() ---gives information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
W    5 non-null float64
X    5 non-null float64
Y    5 non-null float64
Z    5 non-null float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [18]:
#To rename the label(column name)
df.rename(columns={"W":"f"},inplace=True)
#rename is used to alter the label

In [19]:
df.rename(index={"A":"a","B":1},inplace=True) #inplace is used to make changes parmanent

In [16]:
df

          W         X         Y         Z
a  0.173582  0.800557  0.476454  0.847654
1  0.571496  0.340421  0.965160  0.843844
C  0.288317  0.956440  0.373299  0.300939
D  0.966593  0.014683  0.659627  0.398662
E  0.199441  0.212223  0.778793  0.391162

In [20]:
df

          f         X         Y         Z
a  0.173582  0.800557  0.476454  0.847654
1  0.571496  0.340421  0.965160  0.843844
C  0.288317  0.956440  0.373299  0.300939
D  0.966593  0.014683  0.659627  0.398662
E  0.199441  0.212223  0.778793  0.391162

In [22]:
df.describe() #returns descriptive statistics (central tendency,dispersion)

              f         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.439886  0.464865  0.650667  0.556452
std    0.334083  0.398846  0.235948  0.266879
min    0.173582  0.014683  0.373299  0.300939
25%    0.199441  0.212223  0.476454  0.391162
50%    0.288317  0.340421  0.659627  0.398662
75%    0.571496  0.800557  0.778793  0.843844
max    0.966593  0.956440  0.965160  0.847654

In [23]:
#How to fetch columns from the data
df["X"]

a    0.800557
1    0.340421
C    0.956440
D    0.014683
E    0.212223
Name: X, dtype: float64

In [26]:
df[["X","Y","Z"]] # to fetch list of columns

          X         Y         Z
a  0.800557  0.476454  0.847654
1  0.340421  0.965160  0.843844
C  0.956440  0.373299  0.300939
D  0.014683  0.659627  0.398662
E  0.212223  0.778793  0.391162

In [27]:
df.columns

Index(['f', 'X', 'Y', 'Z'], dtype='object')

In [30]:
#Drop a column
df.drop("X",axis=1,inplace=True)

In [31]:
df

          f         Y         Z
a  0.173582  0.476454  0.847654
1  0.571496  0.965160  0.843844
C  0.288317  0.373299  0.300939
D  0.966593  0.659627  0.398662
E  0.199441  0.778793  0.391162

In [33]:
df.drop("C")

          f         Y         Z
a  0.173582  0.476454  0.847654
1  0.571496  0.965160  0.843844
D  0.966593  0.659627  0.398662
E  0.199441  0.778793  0.391162

In [4]:
df1=pd.DataFrame(np.random.rand(5,4),index='A B C D E'.split(),columns="W X Y Z".split())

In [5]:
df1

          W         X         Y         Z
A  0.583920  0.065100  0.684990  0.988286
B  0.429938  0.418404  0.761972  0.302900
C  0.238177  0.189767  0.046983  0.783410
D  0.038860  0.641663  0.898903  0.079744
E  0.676953  0.540731  0.315304  0.740836

In [6]:
df1.loc["A"] # loc helps to get rows with particular labels

W    0.583920
X    0.065100
Y    0.684990
Z    0.988286
Name: A, dtype: float64

In [7]:
df1.loc["A":"D"] #upper bound included as we are using label

          W         X         Y         Z
A  0.583920  0.065100  0.684990  0.988286
B  0.429938  0.418404  0.761972  0.302900
C  0.238177  0.189767  0.046983  0.783410
D  0.038860  0.641663  0.898903  0.079744

In [47]:
df1.loc["A":"D","Y"]

A    0.994557
B    0.803976
C    0.853313
D    0.525185
Name: Y, dtype: float64

In [8]:
df1.loc["A"]["X"] #To access a particular value corresponding to labels

0.06509962857197771

In [9]:
df1.loc["A":"C","W":"Y"]

          W         X         Y
A  0.583920  0.065100  0.684990
B  0.429938  0.418404  0.761972
C  0.238177  0.189767  0.046983

In [10]:
df1["W"]

A    0.583920
B    0.429938
C    0.238177
D    0.038860
E    0.676953
Name: W, dtype: float64

In [11]:
df1.loc["A"]["W"]

0.5839198797359524

In [13]:
#Suppose the data frame has 25000 rows and 1500 hundred coulmns.in iloc instead of passing label we pass index value
df1.iloc[:,:]

          W         X         Y         Z
A  0.583920  0.065100  0.684990  0.988286
B  0.429938  0.418404  0.761972  0.302900
C  0.238177  0.189767  0.046983  0.783410
D  0.038860  0.641663  0.898903  0.079744
E  0.676953  0.540731  0.315304  0.740836

In [14]:
df1.iloc[:3,:3]

          W         X         Y
A  0.583920  0.065100  0.684990
B  0.429938  0.418404  0.761972
C  0.238177  0.189767  0.046983

In [15]:
df1.iloc[:-1,:-1]

          W         X         Y
A  0.583920  0.065100  0.684990
B  0.429938  0.418404  0.761972
C  0.238177  0.189767  0.046983
D  0.038860  0.641663  0.898903

In [21]:
df1.iloc[-5:-1,-5:-1]

          W         X         Y
A  0.583920  0.065100  0.684990
B  0.429938  0.418404  0.761972
C  0.238177  0.189767  0.046983
D  0.038860  0.641663  0.898903